@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    overflow-x: hidden;
    margin-bottom: 100vh;
    font-size: 56%;
}
.fas
{
    color: white;
}


.main-menu
{
    /* position: relative; */
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.main-menu video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.main-menu h2
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    /* padding: 0 20px; */
    font-size: 7rem;
    color: rgb(229, 226, 226);
    z-index: 1;
    text-shadow: 0 0 10px #09dff5, 0 0 40px #09dff5, 0 0 80px #09dff5;
}

.mask
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 3rem;
    filter: invert(0);
    mix-blend-mode: multiply;
}
.main-menu .follow
{
    position: relative;
    font-size: 2rem;
    z-index: 1;
    padding-top: 250px;
    left: 8%;
    justify-content: space-between;
    align-content: center;
}
.main-menu .follow img
{
    cursor: pointer;
    text-align: center;
}
.main-menu .follow img:hover
{
    box-shadow: 0 1px 10px 0 white, 0 7px 20px 0 white;
}


.menu-toggle
{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 800px){
    .main-menu video
    {
        width: 110%;
    }
    .main-menu h2
    {
        font-size: 3rem;
        margin-left: 1rem;
        text-align: center;
    }
    .mask
    {
        margin-left: 1.7rem;
    }
    .main-menu .follow
    {
        width: 80%;
        text-align: center;
        margin-right: 4rem;
    }
}


